@import "../../styles/base/_all";

ce-idea-list {
    @extend .view-card;

    h2 {
        margin-top:0px;
    }

    ce-link {
        display:inline-block;
        margin-bottom:40px;
    }

    .idea-cards:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
}
